 datastrctures_basics1/.classpath
 datastrctures_basics1/.project
 datastrctures_basics1/.settings/org.eclipse.jdt.core.prefs
 datastrctures_basics1/bin/com/alicoder/MainApp.class
datastrctures_basics1/.gitignore